body {
    /* reduce color */
    background-color: rgb(220, 220, 220);
}
#feedoapp {
    margin: 6px;
}
#feedoapp .navbar-inner {
    /* reduce color */
    background-image: none;
    background-color: rgba(235, 235, 235, 0.5);
}

/*
 * Content
 * */
.content-view {
    background-color: rgb(225, 225, 225); /* really needed? */
    border-radius: 5px;
}
.menu-item {
    padding: 3px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.25s, box-shadow 0.25s;
    -webkit-transition: background-color 0.25s, box-shadow 0.25s;
    -moz-transition: background-color 0.25s, box-shadow 0.25s;
    -o-transition: background-color 0.25s, box-shadow 0.25s;
    
    text-align: center;
}
.menu-item:hover {
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    
    cursor: pointer;
}
.menu-item-inner {
    padding: 5px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-color: rgb(235, 235, 235);
    transition: background-color 0.25s, box-shadow 0.25s;
    -webkit-transition: background-color 0.25s, box-shadow 0.25s;
    -moz-transition: background-color 0.25s, box-shadow 0.25s;
    -o-transition: background-color 0.25s, box-shadow 0.25s;
}
.menu-item a {
    text-decoration: none;
}
.feed-item-menu-item .menu-item-inner {
	text-align: left;
}

#feed-view {
    padding-right: 6px;
}
.feed-item {
    padding: 15px;
    margin-bottom: 10px;
    
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    cursor: default;
    
    transition: background-color 0.25s, box-shadow 0.25s;
    -webkit-transition: background-color 0.25s, box-shadow 0.25s;
    -moz-transition: background-color 0.25s, box-shadow 0.25s;
    -o-transition: background-color 0.25s, box-shadow 0.25s;
}
.feed-item:hover {
    background-color: rgba(250, 250, 250, 1.0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.feed-item .feed-title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}
.feed-item .feed-abstract {
    font-style: italic;
    font-size: small;
    
    padding-bottom: 2px;
    border-bottom: 1px dashed black;
}

/*
 * Animation
 * */
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotation 2s linear infinite;
  -moz-animation: rotation 2s linear infinite;
  -o-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite;
}